body, html {
    margin: auto;
    height:95%;
}


body{
    overflow: hidden;
    height: 150%;
}

#left {
    background-color:lightyellow;
    
}
  
.container-fluid {
    height: 100%; 
}

.parent{
    height:50%;
    align-items: center;
    background-color:gray;
}

#right {
    background-color: lightblue;
    
}
  
#left, #right{
    position: relative;
    float: center;
    height:90%;
    overflow-y: auto;
    margin: auto;
    margin-top: 40px;
    padding-top: 15px;
    
}

.singers-btn{
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid darkgray;
    margin-left: 0px;
    margin-right: 4px;
    margin-bottom: 4px;


}

.alert{
    margin-top: 10px;  
    text-align: center;    
}

.input-group{
    margin-top: 5px;
    margin-bottom: 10px;
    clear: both;
    text-align: center;
}

.images{
    display: inline-block;
    margin-right:20px;
}

p{
    display: block; 
}

input {
    text-transform: capitalize;
}
